# editor files
*~
\#*

# macOS files
.DS_STORE

# *TeX files
document.pdf
summary.pdf
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.loa
*.pdfpc
*.synctex.gz
*.fdb_latexmk
*.fls
*.tdo

# Emacs folder 'auto'
auto

upload.sh
Makefile
